

.link {
    text-decoration: none;
    padding: 10px;
    color: #fff;
}

.active {
    color: #ffffff33;
}
.toggleButton{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}